/* Basic */

.content-container {
  max-width: 1000px;
  width: 100%;
  padding: 10px 50px;
  margin: 0 auto;
  background-color: rgb(174, 180, 178);
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Typography */

header {
  font: normal 32px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

footer,
section.contact,
section.goal,
section.strengths,
section.hard-skills,
section.experience,
section.education,
section.examples,
section.english {
  font: normal 16px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  vertical-align: top;
}

/* Box-model */

.photo {
  width: 50%;
  height: 50%;
}

section.contact,
.examples {
  display: flex;
  justify-content: center;
}
section.goal {
  text-align: center;
}

.skills-wrapper,
.education-wrapper {
  display: flex;
  justify-content: space-around;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
}

footer > a > img {
  width: 20%;
}

footer > a {
  font: normal 16px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logo_RSS {
  text-align: center;
}

.logo_github {
  text-align: center;
}
