/* Basic */

.content-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
}

/* Typography */

header {
  font: normal 32px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

footer,
section.contact,
section.goal,
section.strengths,
section.hard-skills,
section.experience,
section.education,
section.examples {
  font: normal 16px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  vertical-align: top;
}

/* Box-model */

.photo {
  width: 50%;
  height: 50%;
}

section.contact {
  display: block;
  float: right;
  width: 30%;
}

section.strengths,
section.hard-skills,
section.experience,
section.education {
  display: inline-block;
  margin-left: -5px;
  width: 25%;
}

footer {
  height: 100px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  background: #333;
}

footer > a > img {
  width: 20%;
}

footer > a {
  font: normal 16px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logo_RSS {
  text-align: center;
}

.logo_github {
  text-align: center;
}
